/***Common*****/

.separatorEl {
    margin: 40px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
}

/**Common end**/
/***Head*******/
.mdl-layout__header {
	background-color: darkblue;
}

.mdl-button {
	margin-right: 10px;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised{
    
}

@media screen and (max-width: 800px) {
    .mdl-button {
	   display: none;
    }
}

/***Head*end***/

/****Body******/

body {
    background-color: lightgray;
}

.welcome-div,.about-div,.contact-div,.portfolio-div {
	width: 80%;
    min-height: 300px;
    margin: auto;
    margin-top: 10px;
}

.welcome-div {
	display: flex;
    display: -webkit-flex;
}

.card-left {
    order:1;
	width: 70%;
    text-align: justify;
    padding-right: 50px;
}

.card-right {
    order:2;
	width: 30%;
    float: right;
}

.card-right img {
	max-height: 75px;
    width:48%;
}

.mdl-card__title-text {
	font-family: "Lobster";
    font-size: 2.5em;
}

.mdl-card__supporting-text{
    width: 97%;
    font-weight: 600;
    font-size: 20px;
}

.mdl-card__supporting-text p{
    font-size: 20px;
}
.not-started {
	background-image: url("../resources/img/coming-soon.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
}

.about-footer {
    order:3;
}


@media screen and (max-width: 800px) {
    .card-right img {
        width: 98%;
    }
}
/****Body*end**/

/****Footer****/

.mdl-mini-footer {
	background-color: darkblue;
    z-index: 100;
    margin-top: 10px;
}